{% extends "base.html" %}


{% block title %}
Wordle
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section id="hero-section">
    <div class="hero-section-container">

        <div class="hero-header-container">
            <div class="hero-header">
                <h1 class="hero-title">
                    Guess
                </h1>
                <p class="hero-subtitle">
                    <img class="hero-image-small"
                         src="../static/images/games/wordle/wordle_logo.png"
                         alt="wordle_logo.png">
                    the right word in 6 tries! Each guess must be a valid 5-letter word and tiles
                    will change color
                    corresponding to their placement.
                </p>
            </div>

            <div class="hero-image-container">
                <img class="hero-image" src="../static/images/games/wordle/wordle_logo.png"
                     alt="wordle_logo.png">
            </div>
        </div>

        <div class="play-button-container">
            <a href="{{ url_for('games.play_wordle') }}"
               class="btn w-100 fw-bold pt-3 pb-3 text-uppercase text-white play-button">
                Play
            </a>
        </div>
    </div>
</section>


<section id="high-score-section">
    <div class="high-score-section-container">

        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="high-score-card">

                    <p class="high-score-title fw-bold mb-5 text-uppercase">
                        Best Average
                    </p>

                    <p class="high-score-score">
                        Player1 &nbsp;&nbsp;&nbsp; 2.4
                    </p>

                    <p class="high-score-score">
                        Player2 &nbsp;&nbsp;&nbsp; 2.7
                    </p>

                    <p class="high-score-score">
                        Player3 &nbsp;&nbsp;&nbsp; 3.0
                    </p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="high-score-card">

                    <p class="high-score-title fw-bold mb-5 text-uppercase">
                        Most Wins
                    </p>

                    <p class="high-score-score">
                        Player1 &nbsp;&nbsp;&nbsp; 2.4
                    </p>

                    <p class="high-score-score">
                        Player2 &nbsp;&nbsp;&nbsp; 2.7
                    </p>

                    <p class="high-score-score">
                        Player3 &nbsp;&nbsp;&nbsp; 3.0
                    </p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="high-score-card">

                    <p class="high-score-title fw-bold mb-5 text-uppercase">
                        Least Fails
                    </p>

                    <p class="high-score-score">
                        Player1 &nbsp;&nbsp;&nbsp; 2.4
                    </p>

                    <p class="high-score-score">
                        Player2 &nbsp;&nbsp;&nbsp; 2.7
                    </p>

                    <p class="high-score-score">
                        Player3 &nbsp;&nbsp;&nbsp; 3.0
                    </p>
                </div>
            </div>
        </div>


    </div>


</section>



{% endblock %}
