/********* General settings *********/

/*General******** HERO *********/
#hero-section {
    background-color: var(--middle);
    width: 100%;
    padding: 125px 0 75px;
}
.hero-section-container {
    padding: 0 9%;
}
.hero-header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0 75px;
}

/*Header******** HERO *********/
.hero-header {
    padding-bottom: 125px;
    width: 300px;
    color: var(--black);
}
.hero-image {
    width: 350px;
    height: 400px;
}
.hero-image-small {
    display: none;
    margin-right: 15px;
}

/*Button******** HERO *********/
.play-button-container {
    background-color: var(--dark);
    border-radius: 8px;
}
.play-button-container:hover {
    opacity: 0.7;
}
.play-button {
    font-size: 1.5rem;
    border: none;
}

/*General******** SCORES *********/
#high-score-section {
    background-color: var(--light);
    padding: 75px 0 75px;
}
.high-score-section-container {
    display: flex;
    justify-content: space-evenly;
}

/*Content******** SCORES *********/
.card {
    background-color: var(--middle);
    color: var(--light);
    border-radius: 10px;
    width: 400px;
}
.high-score-title {
    font-size: 2rem;
    opacity: 0.8;
}
.high-score-score {
    font-size: 1.2rem;
}

/*Media******** WORDLE *********/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    #hero-section { padding: 75px 0 75px }
    .hero-header { width: 250px }
    .hero-title { font-size: 5rem }
    .hero-image { width: 280px }
    .hero-image { height: 330px }
}

@media screen and (max-width: 768px) {
    .hero-header { width: 200px }
    .hero-title { font-size: 4rem }
    .hero-subtitle { font-size: 0.9rem }
    .hero-image { width: 230px }
    .hero-image { height: 280px }
}

@media screen and (max-width: 576px) {
    #hero-section { padding: 50px 0 75px }
    .hero-header-container { margin: 50px 0 0 }
    .hero-header { width: 250px }
    .hero-header { padding-bottom: 35px }
    .hero-title { font-size: 5rem }
    .hero-title { margin-bottom: 25px }
    .hero-image-container { display: none }
    .hero-image-small { width: 75px }
    .hero-image-small { height: 75px }
    .hero-image-small { display: inline-block }
    .hero-image-small { float: left }
}




.card {
    background-color: var(--dark);
}

.text-white-50 {
    font-size: 1.4rem;
}
.scores-card-height {
    height: 250px;
}

/* ********** Media ********** */
@media only screen and (max-width: 992px) {
    .header {
        text-align: center;
    }
}



